.parcs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.parc {
    width: 45%;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.parc img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px #888888;
    transition: transform 0.3s ease-in-out;
}

.parc img:hover {
    transform: scale(1.1);
}

main {
    text-align: center; 
}

h2 {
    font-size: 36px;
    margin: 20px 0;
    color: #333;
}
.parc p {
    font-size: 16px; 
    line-height: 1.5; 
    color: #555; 
    margin-bottom: 15px; 
}
.parc h3 {
    font-size: 20px;
    color: #D90020;
    margin-bottom: 10px;
}
